
@model TransacaoModel
@{
    ViewData["Title"] = "Extrato";
}

<h2>Extrato</h2>

<div class="container">
    <form asp-controller="Transacao" asp-action="Extrato">
        <div class="form-group">
            <label> Data Transação (Inicio):</label>
            <input type="date" asp-for="Data" class="form-control" />
        </div>
        <div class="form-group">
            <label>Data Transação(Final):</label>
            <input type="date" asp-for="DataFinal" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tipo Transação:</label>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="A" checked />Receitas e Despesas</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" /></label>Receitas</div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="D" />Despesas</label></div>

        </div>
        <div class="form-group">
            <label>Conta:</label>
            <select asp-for="IdConta" class="form-control">
                @{ 
                    foreach (var item in (List<ContaModel>)ViewBag.ListarContas)
                    {
                        <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                }


             </select>
        </div>
        <button type="submit" class="btn btn-block btn-success">Pesquisar</button>

</form>



</div>
<br />
<table class="table table-bordered">

    <thead>
        <tr>
            <th>#</th>
            <th>Detalhes</th>
            <th>ID</th>
            <th>Tipo</th>
            <th>Historico</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Conta</th>
            <th>Plano de Contas</th>
        </tr>

    </thead>
    @{
                    var totalReceitas = 0.0;
                    var totalDespesas = 0.0;
                    var vsaldo = 0.0;
                    var saldo = ViewBag.ContaSaldo;
                    foreach (var item in (List<TransacaoModel>)ViewBag.ListarTransacao)
                    {
            <tbody>
                    <tr>
                        <td><button class="btn btn-warning" onclick="EditarTransacao(@item.Id.ToString())">Editar</button></td>
                        <td><button class="btn btn-primary" onclick="EditarTransacao(@item.Id.ToString())"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Visualizar</button></td>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Tipo.ToString().Replace("D", "Despesa").Replace("R", "Receita")</td>
                        <td>@item.Descricao.ToString()</td>
                        <td>@item.Valor.ToString()</td>
                        <td>@item.Data.ToString()</td>
                        <td>@item.Nomeconta.ToString()</td>
                        <td>@item.DescricaoPlanoConta.ToString()</td>



                    </tr>
                @{ 
                    if (item.Tipo == "D")
                    {
                        totalDespesas += double.Parse(item.Valor.ToString());
                      }
                    else
                    {
                        totalReceitas += double.Parse(item.Valor.ToString());
                     }
                  } 
            </tbody>
                    }

                    vsaldo = totalReceitas - totalDespesas;

   }
 </table>
@{
   try{
      if( TempData["alerta"].ToString() !=""){
        <div class="alert alert-warning">
           <strong>Atenção :</strong>@TempData["alerta"]
        </div>
      }
   }catch{}

}
<h3 title="Despesas no período informado"><strong>Despesas:</strong>R$ @totalDespesas</h3>
<h3 title="Saldo real! Calculados as depesas e receitas"> <strong>Saldo em conta R$</strong>@saldo</h3>
